name: CI

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - "**/*.md"
      - "LICENSE"
      - ".editorconfig"
      - ".stylua.toml"
      - "cliff.toml"

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  cargo-fmt-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all --check

  stylua-check-and-selene-lint:
    name: Lua Format & Lint Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .
      - name: Install selene
        run: cargo install selene
      - name: Run selene
        run: selene ./init.lua ./lua

  rust-lint-and-test:
    name: Rust Lint & Test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets --all-features
      - run: cargo test --workspace
